<!-- 
<p>hello</p>
    <button mat-button (click)="openDialog()">Add</button> -->
   <div>
    <h5 class="modal-title">Upload</h5>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="sitename" matInput placeholder="select file." name="sitename">
    </mat-form-field><br>
    <button type="button" class="btn" style="margin-left: 70%;" (click)="Upload()">Select File</button>
   </div>
   <div class="modal-body">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="sitename" matInput placeholder="Truck No." name="sitename">
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="sitename" matInput placeholder="Depo No." name="sitename">
    </mat-form-field> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="AddData()">Save</button>

    <button type="button" class="btn btn-light" (click)="onNoClick()">Discard</button>
  </div>
  <ng4-loading-spinner> </ng4-loading-spinner>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
    <!-- <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> -->