<!-- <div class="container">
  <h2>Login</h2>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form">
      <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="Email" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="Password" type="password" class="form-control">
      </div>
      <div class="form-group">
        <button (click)="onLogin()" style="background-color:blue;">Login</button> -->
        <!-- <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button> -->
        <!-- <button (click)="onSignup()" class="btn btn-success pull-right">Signup</button> -->
        <!-- </div>
        </div>
      </div>
      
    </div>
  -->
  
  <!-- <div class="container">
    <div class="col-md-4">
      <div class="form">
        <div class="form-group">
    <mat-card class="card">
      <div>
        <mat-toolbar style="background-color: white;"></mat-toolbar>
        <img src="..\assets\warehouse.png" style="width: 300px; height: 300px; margin-top: 5%;">
        <h1>A BRiOT Powered</h1>
        <h2> WAREHOUSE MANAGEMENT SYSTEM</h2>
      </div>
    </mat-card>
  
    <mat-card class="my-card">
      <mat-toolbar style="background-color: white;">
        <span class="login">Login</span>
      </mat-toolbar>
      <mat-card-content>
        <form class="my-form">
          <mat-form-field class="form-group">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email">
          </mat-form-field><br>
          <mat-form-field class="form-group">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password" name="password">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onLogin()" color="primary">LOGIN</button>
      </mat-card-actions>
    </mat-card> 
 
    <img src="..\assets\bRIOT1.png" style="width: 300px; height: 150px;margin-left:70%;">
    
  </div>
      </div>
      </div>
      </div>
       -->
       <!-- <div class="container">
          <div class="form">
            <div class="form-group">
              <mat-card class="card">
                <div>
                  <mat-toolbar style="background-color: white;"></mat-toolbar>
                  <img src="..\assets\warehouse.png" style="width: 40%; height: 50%; margin-top: 5%;"><br>
                  <p>A BRiOT Powered</p>
                  <h1> WAREHOUSE MANAGEMENT SYSTEM</h1>
                </div>
               <mat-card class="mycard">
                  <mat-toolbar style="background-color: white;">
                    <span class="login">Login</span>
                  </mat-toolbar>
                  <mat-card-content>
                    <form class="my-form">
                      <mat-form-field class="form-group">
                        <mat-label>Email</mat-label>
                        <input  matInput  placeholder="Email" name="email">
                      </mat-form-field><br>
                      <mat-form-field class="form-group">
                        <mat-label>Password</mat-label>
                        <input  matInput  placeholder="Password" name="password">
                      </mat-form-field>
                    </form>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button (click)="onLogin()" color="primary">LOGIN</button>
                  </mat-card-actions>
                </mat-card>
              </mat-card>
             <mat-card class="my-card" style="width: 40%; height: 10%;">
              <div>
                <img src="..\assets\bRIOT1.png" style="width: 300px; height: 150px; margin-left:50%; margin-top: 1%;">
              </div>
             </mat-card>
            </div>
            </div>
            </div>
        -->

        <table>
          <tr>
            <td>
              <div>
                <mat-card class="card">
                  <div>
                    <mat-toolbar style="background-color: white;"></mat-toolbar>
                    <img src="..\assets\balmer1.png" style="width: 40%; height: 50%; margin-top: 5%;"><br>
                    <p>A BRiOT Powered By</p>
                    <h1>Warehouse Management System </h1>
                  </div>
                  </mat-card>
              </div>
            </td>
            <td>
              <div>
                <mat-card class="mycard">
                  <mat-toolbar style="background-color: white;">
                    <span class="login">Login</span>
                  </mat-toolbar>
                  <mat-card-content>
                    <form class="my-form">
                      <mat-form-field class="form-group">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="Email"  matInput  placeholder="Email" name="Email">
                      </mat-form-field><br>
                      <mat-form-field class="form-group">
                        <mat-label>Password</mat-label>
                        <input  [(ngModel)]="Password" matInput  placeholder="Password" name="Password">
                      </mat-form-field>
                    </form>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button (click)="onLogin()" color="primary">LOGIN</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div>
                <img src="..\assets\bRIOT1.png" style="width: 300px; height: 120px; margin-left:50%; margin-top: 10%;">
              </div>
            </td>
          </tr>
        </table>