.table{
    align-self: center;
    content: center;
    width: 100%;
    height: 100%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    
  }
  .td{
    margin-top: 30%;
    margin-left: 30%;
  }
  table tr th {
  
    font-size: 12pt;
  
  }
  
  table tr td, table tr th {
  
    width:50% !important;
  
  }
  .btn{
    
    margin-left: 550%;
    text-align: center;
    background-color: navy; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .example-full-width{
      margin-left: 40%;
  }
  h3{
   
      margin-left: 5%;
  }