<div>
    <h5 class="modal-title"> Add Site</h5>
   </div>
   <div class="modal-body">
    <p>Are you sure you want to save</p>
  </div>
  <div class="modal-footer">
    <!-- <input [(ngModel)]="sitename" matInput placeholder="Site Name" name="sitename"> -->
    <button type="button" class="btn btn-light" (click)="Confirm()">CONFIRM</button>
    <button type="button" class="btn btn-light" (click)="Cancel()">CANCEL</button>
  </div>
  <!-- <app-spinner overlay="true"></app-spinner> -->
  <!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
  